html, body{
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #004080;
  background-color: lightcoral;
  font-size: 1.3rem;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,h2,h3 {
  font-family: 'Pacifico', cursive;
  text-align: center;
}

main {
  margin: 1rem auto;
  text-align: left;
  width: 70%;
}

article {
  background-color: #F4978E;
  text-align: center;
}


p {
  margin: 1rem;
}

footer ul, nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  float: left;
  width: 25%;
  list-style-type: none;
}

footer ul li {
  float: left;
  width:14.28571429%;
  list-style-type: none;
}

footer ul li a, nav ul li a {
  display: block;
  width: 100%;
  color: lavender;
  border: 1px solid lavender
}

a {
  text-decoration: none;
}

figure img {
  width: 20%;
  height: auto;
}